#academicsTitle {
    background-color: #2e3192 ;
    max-width: 100%;
    height: 55px;
    /* height: 50px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    /* font-weight: bold; */
    /* border-bottom: 5px solid rgb(32, 71, 35); */
}

.card-body_title {
    color: #2e3192;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px; /* Adjust this value for the desired bottom margin */
}

.card-body_title::after {
    content: '';
    display: block;
    width: 50%; /* Adjust this value as needed */
    border-bottom: 2px solid #ffc600;
    margin-top: 5px; /* Adjust this value for the space between text and border */
}

.academics-card {
    padding: 12px;
    margin-bottom: 10px;
}

table[data-target] {
    display: none;
}
.th {

    color: #2e3192;
}
#th{
    color: #2e3192;
}

.lunch{
    color: #2e3192;
    text-align: center;
    
    font-weight: bold;    
}

.table{
    border: 1px #2e3192 solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

/* left side card css */

.card_academics {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    /* border-radius: 5px; */
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 12px;
}

.card_academics .btn_grp {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card_academics .btn_grp .btn {
    text-align: left;
    font-weight: 700;
    border: 1px solid #ddd;
}
.card_academics .btn_grp .btn:hover{
    color: #fff !important;
    background-color: #2e3192 !important;
}
.card_academics .btn_grp .btn:focus {
        outline: none;
}

/* for smooth loading of content  */
.content {
    transition: opacity 0.3s ease-in-out;
}
.tt_options option:focus {
    border: 1px solid #ddd;
    border-radius: 3px;
  }
.tt_options option {
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
  }
/* left side card css ends */



/* #downloadLink:hover {
    background-color: #000000;
    color: #ffc600;
  } */
  /* @media (max-width: 768px){
  #downloadLink {
    padding: 0 25px;
    font-size: 14px;
    line-height: 35px;
    background-color: #ffc600;
  }
} */

  /* #downloadLink {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ffc600;
    padding: 0 35px;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    border-radius: 5px;
    color: #07294d;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: #ffc600;
    text-decoration: none;
  } */