.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}
/* Styling for the button */
.btn {
    color: #2e3192;
    border-color: #2e3192;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s ease;
}

/* Styling for the button hover state */
.btn:hover {
    color: #fff !important;
    background-color: #2e3192 !important;
}

/* Styling for the button focus state */
.btn:focus {
    outline: none;
}

.btn_grp .btn {
    text-align: left;
    font-weight: 700;
    border: 1px solid #ddd;
}

.card-body{
    background-color:white;
}

.facility-item {
    margin-bottom: 20px;
}


.col-md-6 {
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
}

.list-group {
    padding: 0; /* Remove padding */
}

.facility-item {
    padding: 0; /* Remove padding */
    background-color: #2e3192;
    
}



.facility-item {
    display: flex; /* This will make the .facility-item a flex container */
    flex-direction: column; /* This will make the flex items stack vertically */
}

.card-body {
    flex: 1;
     /* This will make the .card-body take up the remaining space in the .facility-item */
}


.card-text{
    color: black;  ;
}


.facility-image {
    width: 581px;
    height: 236px;
    object-fit: cover; /* This will ensure that the image covers the entire space without distorting the aspect ratio */
}

.facility-image {
    width: 100%;
 /* This is equivalent to a height of 236px when the width is 581px */
    object-fit: cover;
    background-position: center;
    aspect-ratio: 581/300; /* This will ensure that the image maintains the aspect ratio */
}


#aboutSubheadings {
    color: #2e3192;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px; /* Adjust this value for the desired bottom margin */
    text-align: center;
}

#aboutSubheadings::after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid #ffc600;
    margin-top: 5px;
}

.listdata::before{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 2px solid #ffc600;
    margin-top: 5px;
}


#card-header{
    color: black;
    font-weight: 600;
    font-size: 20px;
}



.btn_grp .btn {
    text-align: left;
    font-weight: 700;
    border: 1px solid #ddd;
}

.btn_grp .btn:hover{
    color: #fff !important;
    background-color: #2e3192 !important;
}

.btn_grp .btn:focus {
    outline: none;
}

#facilitiesTitle {
    background-color: #2e3192 ;
    max-width: 100%;
    height: 55px;
    /* height: 50px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    /* font-weight: bold; */
    /* border-bottom: 5px solid rgb(32, 71, 35); */
}

@media screen and (max-width: 600px) {
    #card-header {
        /* reduced size styles */
        font-size: 18px; /* example: reduce font size */
        padding: 10px; /* example: reduce padding */
    }
}




