.about {
    background-color: #00008b; /* success color in Bootstrap */
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; /* center items horizontally */
    align-items: center; /* center items vertically */
    margin-top: 0px; /* space for nav bar */
    border-bottom: 5px solid rgb(32, 71, 35); /* add border at the bottom */
}
#aboutUsTitle {
    text-align: center; /* center the text */
    color: #ffffff; /* dark grey color */
    font-family: 'Times New Roman', serif; /* elegant font */
    font-size: 24px; /* adjust size as needed */
    font-weight: bold; /* make text bold */
    text-transform: uppercase; /* convert text to uppercase */
}

#aboutSubheadings{
    font-family: 'futura-pt-condensed' , Arial, sans-serif !important;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5; /* added line-height */
}

.aboutTitle {
    margin-bottom: 15px; /* add some space after the heading */
    font-size: 20px;
}

.blueLine {
    border-top: 1px solid #2e3192;
}

.greyLine {
    border-top: 1px solid grey; /* grey underline */
    width: 75%; /* adjust as needed */
    margin: 0 auto; /* center the line */
}
.greyLine1 {
    border-top: 1px solid grey; /* grey underline */
    width: 55%; /* adjust as needed */
    margin: 0 auto; /* center the line */
}


#mVAbout{
    font-family: 'futura-pt-condensed' , Arial, sans-serif !important;
    font-size: 20px;
}

.image-box {
    position: relative;
    width: 100%;
}

.image-box img {
    width: 100%;
    height: auto;
}

.image-box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.image-box:hover .overlay {
    height: 100%;
}

.image-box .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.memberInfo {
    color: #333;
    font-size: 16px;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.memberImage {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* added transition */
}

/* .memberImage:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
} */

.memberInfo {
    flex-grow: 1;
}
#memberOfComittee{
    font-family: 'futura-pt-condensed' , Arial, sans-serif !important;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5; /* added line-height */
}
#memberAbout{
    font-family: 'futura-pt-condensed' , Arial, sans-serif !important;
    font-size: 20px;
}
@media (max-width: 770px) {
    .member {
        flex-direction: column;
    }

    .memberImage {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
#boardOfMembers {
    padding: 20px;
    
}

.memberB {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.boardMemberImage {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* .boardMemberImage:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
} */


.memberInfoB {
    flex-grow: 1;
}

@media (max-width: 770px) {
    .memberB {
        flex-direction: column;
    }

    .boardMemberImage {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
#chairPersonAbout {
    font-family: 'futura-pt-condensed', Arial, sans-serif !important;
    font-size: 18px;
    padding: 0 20px; /* added padding */
    text-align: justify; /* justified content */
}
#principles {
    text-align: center;
}

.principlesContainer {
    display: flex;
    justify-content: space-around;
}

.principleImage {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

/* .principleImage:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
} */

@media (max-width: 1200px) {
    .principlesContainer {
        flex-direction: column;
        align-items: center;
    }

    .principle {
        margin-bottom: 20px;
    }

    .principleImage {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
.btnGroup .btn {
    text-align: left;
}

.cardWithButtons {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    background-color: #f1f1f1;
}

/* .cardWithButtons:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.aboutTitle {
    color: #333;
    text-align: center;
}

.blueLine {
    border-top: 1px solid #2e3192;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #2e3192;
    border-color: #2e3192;
    margin: 10px 0;
    width: 100%;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    background-color: #2e3192;
}

.btn:focus {
    outline: none;
  }